# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# SQLite database
backend/app.db

# Vite / Node artifacts
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor files
*.swp
*.swo
.DS_Store
